[Unit]
Description=NITOS proxy for frisbee controller of NITOS Testbed resource controllers pack
After=ntrc.service

[Service]
Type=forking
PIDFile=/var/run/ntrc_frisbee.pid
ExecStartPre=/bin/rm -f /var/run/ntrc_frisbee.pid
ExecStart=/bin/sh -c '/usr/local/bin/run_ntrc.sh 2 2>&1'
Restart=on-abort

[Install]
WantedBy=multi-user.target
